/nbproject/
Makefile
/vendor/

debian/files
debian/.debhelper/
debian/php-vitexsoftware-multiflexi-core/
debian/php-vitexsoftware-multiflexi-core-dev/
debian/debhelper-build-stamp
debian/php-vitexsoftware-multiflexi-core.substvars
debian/php-vitexsoftware-multiflexi-core-dev.substvars
.build/
debian/php-vitexsoftware-multiflexi-core-dev.debhelper.log
debian/php-vitexsoftware-multiflexi-core.debhelper.log
.env
.phpunit.result.cache
debian/tmp/composer.json
