Source: php-vitexsoftware-multiflexi-core
Section: unknown
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (=13), jq, moreutils, composer, php-yaml, php-intl, php-simplexml
Standards-Version: 4.6.1
Homepage: https://github.com/VitexSoftware/php-vitexsoftware-multiflexi-core
Rules-Requires-Root: no
Vcs-Git: https://github.com/VitexSoftware/php-vitexsoftware-multiflexi-core.git
Vcs-Browser: https://github.com/VitexSoftware/php-vitexsoftware-multiflexi-core

Package: php-vitexsoftware-multiflexi-core
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, php-vitexsoftware-ease-fluentpdo, php-json-schema
Description: VitexSoftware Multiflexi Core Library
 This package contains the core library for the VitexSoftware Multiflexi

Package: php-vitexsoftware-multiflexi-core-dev
Architecture: all
Multi-Arch: foreign
Depends: php-vitexsoftware-multiflexi-core (= ${binary:Version}), ${misc:Depends}, ${shlibs:Depends}, php-vitexsoftware-multiflexi-core, #multiflexi-database
Description: VitexSoftware Multiflexi Core Library
 This package contains the development files for the VitexSoftware Multiflexi
 Core Library.
 .
