#!/usr/bin/make -f
#export DH_VERBOSE = 1

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

override_dh_install:
	mkdir -p debian/tmp/
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/tmp/composer.json
	dh_install
	# Install autoloader
	install -D -m 0644 debian/autoload.php debian/php-vitexsoftware-multiflexi-core/usr/share/php/MultiFlexi/autoload.php
	sed -i "s|: 'unknown'|: '$(PKG_SOURCE)'|" \
		debian/php-vitexsoftware-multiflexi-core/usr/share/php/MultiFlexi/autoload.php
	sed -i "s|: '0.0.0'|: '$(PKG_VERSION)'|" \
		debian/php-vitexsoftware-multiflexi-core/usr/share/php/MultiFlexi/autoload.php
	# Register autoloader for pkg-php-tools
	install -m0755 -d debian/php-vitexsoftware-multiflexi-core/usr/share/pkg-php-tools/autoloaders
	echo 'vitexsoftware multiflexi-core MultiFlexi/autoload.php' > debian/php-vitexsoftware-multiflexi-core/usr/share/pkg-php-tools/autoloaders/php-vitexsoftware-multiflexi-core
	# Fix schema paths in installed files
	sed -i "s|__DIR__\.'/../../schema/application.json'|'/usr/lib/multiflexi/application.json'|g" debian/php-vitexsoftware-multiflexi-core/usr/share/php/MultiFlexi/Application.php
	sed -i "s|__DIR__\.'/../../multiflexi.credential-type.schema.json'|'/usr/lib/multiflexi/credential-type.schema.json'|g" debian/php-vitexsoftware-multiflexi-core/usr/share/php/MultiFlexi/CredentialType.php
	sed -i "s|__DIR__\.'/../../schema/credential-prototype.json'|'/usr/lib/multiflexi/credential-prototype.json'|g" debian/php-vitexsoftware-multiflexi-core/usr/share/php/MultiFlexi/CredentialProtoType.php
